{% extends "template.html" %}
{% block content %}


<!-- Main Section
================================================== -->
<section id="main">
  <div class="page-header">
    <h1>Contact Us</h1>
  </div>

  <div class="row">

  
 <!-- PUT CONTENT IN HERE
================================================== --> 
    <div class="span4">
      <h3>General Information</h3>
      <p>If you would like to contact club leadership for any reason, please e-mail <a href="mailto:{{ officers['President']['email'] }}">{{ officers['President']['name'] }}</a> or <a href="mailto:{{ officers['Vice President']['email'] }}">{{ officers['Vice President']['name'] }}</a>.</p>
      <p>We particularly encourage you to submit any suggestions you may have for the club!</p>
      <p><ul class="contact-icons" style="text-align: center;">
            <li><a class="email" target="_blank" href="mailto:{{ officers['President']['email']}}, {{officers['Vice President']['email']}}"></a></li>
            <li><a class="facebook" target="_blank" href="http://facebook.com/ricecsclub"></a></li>
      </ul></p>
    </div>

    <div class="span4">
      <h3>Technical Events and Sponsorship</h3>
      <p>Interested in partnering with the CS Club to host a tech talk, programming challenge, or other technical events? Please contact <a href="mailto:{{ officers['Technical Chair']['email'] }}">{{ officers['Technical Chair']['name'] }}</a> with details.</p>
      <p>HackRice is our new yearly Hackathon at Rice during the Spring Semester that allows people to get together and build amazing projects within the span of a day or two. If you're interested in sponsoring Hack Rice, please contact us. For more details visit <a href="http://hack.rice.edu">hack.rice.edu</a>.</p>
    </div>

    <div class="span4">
      <h3>Mailing List</h3>
      <p>Stay up to date on the latest events and activities by subscribing to our <a href="{{ links.mailing_list }}">mailing list</a>.</p>
      <p>If you'd like to contact the club membership en masse for recruiting, gigs, or announcements, please e-mail <a href="mailto:{{ officers['Vice President']['email'] }}">{{ officers['Vice President']['name'] }}</a> with details.</p>
    </div>

  </div>

</section>

{% endblock %}
