{% extends "template.html" %}
{% block content %}

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<!-- Main Section
================================================== -->
<section id="main">
    <div style="margin-bottom:10px">
        <img src="img/brand/banner.jpg">
    </div>
    <div class="span4">
    <h3>About Us</h3>
    <p>The Rice University Computer Science Club is an organization dedicated to providing Rice students with an informational and social network of individuals interested in computer science. We provide professional resources, including resume review sessions, interview preparation, and weekly lunch talks by Rice faculty and industry insiders. We also foster community among computer science students by way of club-hosted study breaks, random outings, and social lunches.</p>

    <p>Our club faculty advisor is <a href="{{ faculty_sponsor.link }}" target="_blank">{{ faculty_sponsor.name }}</a>.</p>

    <h3>Sounds Interesting?</h3>
    <p>First things first: sign up for our <a href="{{ links.mailing_list }}">club mailing list</a>. We use it to announce club events, job opportunities, and other computer science-related happenings.</p>
    <p>While you're here, be sure to check out our weekly <a href="{{ lunch_and_learn.link }}">Lunch and Learn Series</a> schedule and other <a href="events">events</a> we have coming up.</p>
  <p>Finally, if you have any suggestions for cool things for the club to do (whether for career development or just something fun), then please <a href="contact">contact us!</a></p>
    </div>



<div class="span3">
  <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/RiceCompSciClub" data-widget-id="568095797749616640">Tweets by @RiceCompSciClub</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>


    <div class="span4">
<div class="fb-like-box" data-href="https://www.facebook.com/ricecsclub" width="250" data-colorscheme="dark" data-show-faces="false" data-header="true" data-stream="true" data-show-border="true"></div>
</div>


</section>

{% endblock %}
