{% extends "template.html" %}
{% block content %}

<!-- Main Section
================================================== -->
<section id="main">
  <div class="page-header">
    <h1>Officers</h1>
  </div>
    <div>
      <p>The CS Club officers are responsible for leading and running the club, HackRice, and Rice Apps. New officers are elected every spring semester. The official club faculty sponsor is <a href="{{ faculty_sponsor.email }}">{{ faculty_sponsor.name }}</a>. Below are the officers for the 2013 - 2014 academic year.</p>
    </div>

  <!--  Carousel -->
  <!--  consult Bootstrap docs at 
        http://twitter.github.com/bootstrap/javascript.html#carousel -->
  <div id="officers-carousel" class="carousel slide">

    <div class="carousel-inner">
      {% for position in officer_positions %}
      {% set officer = officers[position] %}
        {% if position == "President" %}
          <div class="item active">
        {% else %}
          <div class="item">
        {% endif %}
          <img src="{{ officer.image }}" alt="{{ officer.name }}" />
          <div class="carousel-caption">
            <h3>{{ position }}</h3>
            {% if officer.link %}
              <h1><a target="_blank" href="{{ officer.link }}">{{ officer.name }}</a></h1>
            {% else %}
              <h1><a target="_blank">{{ officer.name }}</a></h1>
            {% endif %}
            <p>
              <strong>Class: </strong> {{ officer.class }}<br>
              <strong>Hometown: </strong> {{ officer.hometown }}
            </p>
            <ul>
              {% for question in officer.questions %}
                <li>
                  <strong>{{ question.question }}</strong><br>
                  {{ question.answer }}
                </li>
              {% endfor %}
            </ul>
            <p><ul class="contact-icons" style="text-align: center;">
              {% for contact, link in officer.contacts.items() %}
                <li><a class="{{ contact }}" target="_blank" href="{{ link }}"></a></li>
              {% endfor %}
            </ul></p>
          </div>
        </div>
      {% endfor %}
    </div>
    <!--  next and previous controls here
          href values must reference the id for this carousel -->
      <a class="carousel-control left" href="#officers-carousel" data-slide="prev">&lsaquo;</a>
      <a class="carousel-control right" href="#officers-carousel" data-slide="next">&rsaquo;</a>
  </div><!-- .carousel -->
  <!-- end carousel -->
  <script>
    $(document).keydown(function(e) {
      var action = null;
      if (e.keyCode == 37)
        action = 'prev';
      else if (e.keyCode == 39)
        action = 'next';
      else
        return;

      $('#officers-carousel').carousel(action);
    });
  </script>

</section>

{% endblock %}
