{% extends "template.html" %}
{% block content %}

<!-- Page Header
================================================== -->
<section id="main">
  <div class="page-header">
    <h1>Rice Apps</h1>
  </div>

  <!-- PUT CONTENT IN HERE
  ================================================== --> 
  <h3>Mission</h3>
  <p>
    Rice Apps' mission is to empower developers to improve student life through technology at Rice.
  </p>
  <div class="row">
    <div class="span6">
      <h3>About</h3>
      <p>
        As students, we often see room for improvement in daily college life processes. Many of these improvements can be made through software projects that serve as powerful tools. This initiative aims to provide the program and resources for students to create and improve open-source projects at Rice.
      </p>
      <p>
        Our goal is to produce multiple projects each year, which can be maintained and improved by future generations of Rice Apps developers.
      </p>
      <h3>Pilot Program</h3>
      <p>
        We are currently starting a pilot program for the Fall 2013 semester. We aim to complete two projects with small teams before Thanksgiving.
      </p>
      <p>
        We are currently looking for people to join us. Applications are open for a short time and we will accept people rapidly on a rolling basis. If you are interested in joining, please apply as soon as possible! Unfortunately, due to the experimental nature of the program right now, we will only be able to accept a very small number of applicants.
      </p>
      <p>
        <a class="btn btn-primary" target="_blank" href="https://docs.google.com/a/rice.edu/forms/d/1fm_xwPQ5lh1XTd7DrUDnmIGjhDQYkQ2x9TZwoRVA0KA/viewform">Application link</a>
        <a class="btn" target="_blank" href="files/RiceAppsDesignQuestion.pdf">Design Question</a>
      </p>
      <p>
        <strong>Application Opens:</strong> 10/20/2013 <br />
        <strong>Application Closes:</strong> 10/26/2013 11:59 PM
      </p>
      <h3>Questions?</h3>
      <p>Feel free to contact the coordinators: <a href="mailto:{{ officers['Treasurer']['email'] }}">{{ officers["Treasurer"]["name"] }}</a> or <a href="mailto:{{ officers['President']['email'] }}">{{ officers["President"]["name"] }}</a>.</p>
    </div>
    <div class="span6">
      <h3>FAQ</h3>
      <div>
        <h5>
          What kind of skills and background are you looking for?
        </h5>
        <p>
        There are no strict requirements or prerequisites, but applicants should be passionate about the mission of Rice Apps, be technically proficient and creative, and have strong communication skills. Experience working on projects outside of academic coursework is highly preferred but not required.
        </p>
      </div>
      <div>
        <h5>
          What’s in it for me?
        </h5>
        <p>
          You’ll have a chance to work on projects that could potentially affect everyone at Rice in a positive manner. You’ll also learn how to rapidly prototype, develop, and iterate on ideas.
        </p>
      </div>
      <div>
        <h5>
          What are the logistics?
        </h5>
        <p>
          The success of the program depends on active collaboration with low communication overhead. We will meet once a week for roughly a 4 hour time period to work on the projects. Some tasks may need to be completed outside of contact hours. Caffeine and snacks will be provided during hacking time!
        </p>
      </div>
      <div>
        <h5>
          What are some examples of projects that Rice Apps might take on?
        </h5>
        <p>
          Some examples are: 
          <ul>
            <li>a servery menu app</li>
            <li>a service that helps students find roommates</li>
            <li>an android version of the Rice iPhone app</li>
            <li>a degree planner app</li>
            <li>an Uber-like app for the Rice night escort service</li>
          </ul>
        </p>
      </div>
      <div>
        <h5>
          What happens to the code that Rice Apps produces?
        </h5>
        <p>
          All of the code that Rice Apps creates will be open sourced on Github.
        </p>
      </div>
    </div>
  </div>
</section>

{% endblock %}
