{% extends "template.html" %}
{% block content %}

<!-- Main Section
================================================== -->
<link href="css/pages/sponsors.css" rel="stylesheet">
<section id="main">
  <div class="page-header">
    <h1>Sponsors</h1>
    <p>We're proud to have many sponsors from the tech world supporting education and student development through HackRice. We'd like to thank all our sponsors for their generous support. If you would like to sponsor us, please email <a href="mailto:{{ officers['Technical Chair']['email'] }}">{{ officers['Technical Chair']['name'] }}</a>.</p>
  </div>

 <!-- PUT CONTENT IN HERE
================================================== -->
    <div class="tabbable tabs-left">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#lB" data-toggle="tab">HackRice 2013</a></li>
        <li class=""><a href="#lA" data-toggle="tab">HackRice 2012</a></li>
      </ul>
      <div class="tab-content">

        <!-- HackRice Spring 2012 Sponsors Begin -->
        <div class="tab-pane" id="lA">
          <h3 style="text-align:center; margin-bottom:50px;">HackRice Spring 2012 Sponsors</h3>
          <div style="text-align:center">
          <h4>Chief Sponsor</h4>
            <div class="thumbnails" style="display:inline-block; margin-left:auto; margin-right:auto;">
              <span class="sponsor">
                <a href="http://www.dropcam.com" class="thumbnail">
                  <img alt="Dropcam" src="img/sponsors/dropcam.png">
                </a>
              </span>
            </div>
          </div>

          <div style="text-align:center">
          <h4>Elite Sponsor</h4>
            <div class="thumbnails" style="display:inline-block; margin-left:auto; margin-right:auto;">
              <span style="margin:0px">
                <a href="http://www.snapstream.com" class="thumbnail">
                  <img alt="Snapstream TV Search" src="img/sponsors/snapstream.jpg">
                </a>
              </span>
            </div>
          </div>

          <div style="text-align:center">
          <h4>Agile Sponsors</h4>
          <div class="thumbnails" style="display:inline-block; margin-left:auto; margin-right:auto;">
            <span class="sponsor">
              <a href="http://www.microsoft.com/" class="thumbnail">
                <img alt="Microsoft" src="img/sponsors/microsoft.jpg">
              </a>
            </span>
            <span class="sponsor">
              <a href="http://www.google.com/" class="thumbnail">
                <img alt="Google" src="img/sponsors/google.jpg">
              </a>
            </span>
            <span class="sponsor">
              <a href="http://www.datafiniti.net/" class="thumbnail">
                <img alt="Datafiniti" src="img/sponsors/datafiniti.jpg">
              </a>
            </span>
            <span class="sponsor">
              <a href="http://www.twosigma.com/" class="thumbnail">
                <img alt="Two Sigma" src="img/sponsors/twosigma.jpg">
              </a>
            </span>
            <span class="sponsor">
              <a href="http://www.rackspace.com/" class="thumbnail">
                <img alt="Rackspace Hosting" src="img/sponsors/rackspace.png">
              </a>
            </span>
            <span class="sponsor">
              <a href="http://compsci.rice.edu/" class="thumbnail">
                <img alt="Rice Computer Science" src="img/sponsors/ricecs.png">
              </a>
            </span>
            <span class="sponsor">
              <a href="http://engr.rice.edu/" class="thumbnail">
                <img alt="Rice Engineering" src="img/sponsors/riceengineering.jpeg">
              </a>
            </span>
          </div>
        </div>
      </div>
      <!-- HackRice Spring 2012 Sponsors End -->

      <!-- HackRice Spring 2013 Sponsors Begin -->
      <div class="tab-pane active" id="lB">
        <h3 style="text-align:center">HackRice Spring 2013 Sponsors</h3>


          <div style="text-align:center">
          <h4>Chief Sponsor</h4>
            <div class="thumbnails" style="display:inline-block; margin-left:auto; margin-right:auto;">
              <span class="sponsor">
                <a href="http://www.rational-group.com" class="thumbnail">
                  <img alt="Rational Systems" src="img/sponsors/rational.png">
                </a>
              </span>
            </div>
          </div>

          <div style="text-align:center">
          <h4>Elite Sponsors</h4>
            <div class="thumbnails" style="display:inline-block; margin-left:auto; margin-right:auto;">
              <span class="sponsor">
                <a href="http://www.palantir.com" class="thumbnail">
                  <img alt="Palantir" src="img/sponsors/palantir_elite.png">
                </a>
              </span>

              <span class="sponsor">
                <a href="http://www.microsoft.com/" class="thumbnail">
                  <img alt="Microsoft" src="img/sponsors/microsoft_elite.png">
                </a>
              </span>

              <span class="sponsor">
                <a href="http://www.careers.gm.com/" class="thumbnail">
                  <img alt="General Motors" src="img/sponsors/gm_elite.png">
                </a>
              </span>

            </div>
          </div>

          <div style="text-align:center">
          <h4>Agile Sponsors</h4>
          <div class="thumbnails" style="display:inline-block; margin-left:auto; margin-right:auto;">
            
            <span class="sponsor">
              <a href="http://www.google.com/" class="thumbnail">
                <img alt="Google" src="img/sponsors/google.jpg">
              </a>
            </span>
            <span class="sponsor">
              <a href="http://www.datafiniti.net/" class="thumbnail">
                <img alt="Datafiniti" src="img/sponsors/datafiniti.jpg">
              </a>
            </span>
            <span class="sponsor">
              <a href="http://www.twosigma.com/" class="thumbnail">
                <img alt="Two Sigma" src="img/sponsors/twosigma.jpg">
              </a>
            </span>
            <span class="sponsor">
              <a href="http://www.us.sogeti.com/" class="thumbnail">
                <img alt="Sogeti" src="img/sponsors/sogeti.png">
              </a>
            </span>
            <span class="sponsor">
              <a href="http://www.amazon.com/" class="thumbnail">
                <img alt="Amazon Web Services" src="img/sponsors/amazon.png">
              </a>
            </span>
            <span class="sponsor">
              <a href="http://compsci.rice.edu/" class="thumbnail">
                <img alt="Rice Computer Science" src="img/sponsors/ricecs.png">
              </a>
            </span>
            <span class="sponsor">
              <a href="http://engr.rice.edu/" class="thumbnail">
                <img alt="Rice Engineering" src="img/sponsors/riceengineering.jpeg">
              </a>
            </span>
          </div>
        </div>
      </div>
      <!-- HackRice Spring 2013 Sponsors End -->
    </div>

</section>


{% endblock %}